#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
data_path = '../M3/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [2]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [3]:
df.groupby('Branch')[['Total','gross income']].sum().sort_values(by='Total', ascending=False)

              Total  gross income
Branch
C       110568.7065     5265.1765
A       106200.3705     5057.1605
B       106197.6720     5057.0320

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –ù–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –º–∞—î —Ñ—ñ–ª—ñ–∞–ª C. 
–î–ª—è –ø–æ–≤–Ω–æ—Ç–∏ –∞–Ω–∞–ª—ñ–∑—É –≤–∏–≤–µ–¥–µ–Ω–æ —è–∫ –∑–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –¥–æ—Ö–æ–¥—É –≤—ñ–¥ —Ñ—ñ–ª—ñ–∞–ª—ñ–≤, —Ç–∞–∫ —ñ –≤–∞–ª–æ–≤–∏–π –¥–æ—Ö—ñ–¥.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [4]:
# –í–∞—Ä—ñ–∞–Ω—Ç 1 (–∫–æ–ª–∏ –º–∏ –∑–Ω–∞—î–º–æ, —â–æ –Ω–∞–∑–≤—ñ —Ñ—ñ–ª—ñ–∞–ª—É –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—î –æ–¥–Ω–µ —É–Ω—ñ–∫–∞–ª—å–Ω–µ –º—ñ—Å—Ç–æ)

df[df.Branch == 'C'].City.unique()

array(['Naypyitaw'], dtype=object)

In [5]:
# –í–∞—Ä—ñ–∞–Ω—Ç 2 (–∫–æ–ª–∏ –º–∏ —Ö–æ—á–µ–º–æ –ø–µ—Ä–µ–∫–æ–Ω–∞—Ç–∏—Å—è, —â–æ —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–∑–≤–æ—é C —Ä–æ–∑—Ç–∞—à–æ–≤–∞–Ω–∏–π –≤ –æ–¥–Ω–æ–º—É –º—ñ—Å—Ç—ñ, –∞ –Ω–µ –Ω–∞–ø—Ä–∏–∫–ª–∞–¥ –≤ –∫—ñ–ª—å–∫–æ—Ö)

df[df.Branch == 'C'].groupby('City')[['Total','gross income']].sum()

                 Total  gross income
City
Naypyitaw  110568.7065     5265.1765

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [6]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [7]:
invoices_by_category.sort_values(by='Electronic accessories', ascending=False).head(1)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1. –ê–Ω–∞–ª—ñ–∑ –ø—Ä–æ—Ñ—ñ–ª—é –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –∫–ª—ñ—î–Ω—Ç–∞ —É —Ä–æ–∑—Ä—ñ–∑—ñ –º—ñ—Å—Ç –ø–æ –∫–ª—é—á–æ–≤–∏–º —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞–º:
- —Ç–∏–ø —Å–ø–æ–∂–∏–≤–∞—á–∞ (Customer type)
- —Å—Ç–∞—Ç—å (Gender)
- —Å–µ—Ä–µ–¥–Ω—è –¥–æ—Ö—ñ–¥–Ω—ñ—Å—Ç—å (Total)

In [8]:
pd.pivot_table(df, index=['Customer type','Gender'], columns='City', values=['Invoice ID','Total'], aggfunc={
    'Invoice ID': 'count',
    'Total': 'mean'})

                     Invoice ID                        Total              \
City                   Mandalay Naypyitaw Yangon    Mandalay   Naypyitaw
Customer type Gender
Member        Female         85        96     80  315.887435  360.973375
              Male           80        73     87  335.678175  304.490938
Normal        Female         77        82     81  338.673545  329.658768
              Male           90        77     92  293.501367  346.174091


City                      Yangon
Customer type Gender
Member        Female  333.038344
              Male    310.280552
Normal        Female  328.717278
              Male    281.921690

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –∑ –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –∑–Ω–∞—î–º–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –¥–µ–º–æ–Ω—Å—Ç—Ä—É—î –º—ñ—Å—Ç–æ Naypyitaw (—Ñ—ñ–ª—ñ—è –°). 
–ó –¥–∞–Ω–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –≤–∏–¥–Ω–æ, —â–æ —Ç–∞–∫–∏–π –¥–æ—Ö—ñ–¥ –º—ñ—Å—Ç–æ Naypyitaw –æ—Ç—Ä–∏–º—É—î –∑–∞ —Ä–∞—Ö—É–Ω–æ–∫ –∞—É–¥–∏—Ç–æ—Ä—ñ—ó "–ñ—ñ–Ω–∫–∏ –∑ –∫–∞—Ä—Ç–∫–∞–º–∏ —á–ª–µ–Ω–∞", —â–æ –ø—Ä–∏–Ω–æ—Å—è—Ç—å —Ç–æ—á—Ü—ñ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π –¥–æ—Ö—ñ–¥ ~361 –≥—Ä–Ω/—á–µ–∫. –ü—Ä–∏ —Ü—å–æ–º—É –∑ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏–¥–Ω–æ, —â–æ —ñ–Ω—à—ñ –º—ñ—Å—Ç–∞ Mandalay —Ç–∞ Yangon –º–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –ø—Ä–æ—Ñ—ñ–ª–µ–º "–ß–æ–ª–æ–≤—ñ–∫–∏ –±–µ–∑ –∫–∞—Ä—Ç–∫–∏", —â–æ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –Ω–∞–π–º–µ–Ω—à–∏–π –ø–æ –ø—Ä–æ—Ñ—ñ–ª—é —Å–µ—Ä–µ–¥–Ω—ñ–π –¥–æ—Ö—ñ–¥ 293,5 –≥—Ä–Ω. —Ç–∞ 282 –≥—Ä–Ω. –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ.

–û—Ç–∂–µ, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è –¥–ª—è –º—ñ—Å—Ç Mandalay —Ç–∞ Yangon - —Ü–µ —Ñ–æ–∫—É—Å –Ω–∞ –∑–∞–ª—É—á–µ–Ω–Ω—è –∞—É–¥–∏—Ç–æ—Ä—ñ—ó –ñ—ñ–Ω–æ–∫ —Ç–∞ —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è –æ—Ñ–æ—Ä–º–ª–µ–Ω–Ω—è –¥–ª—è –Ω–∏—Ö –∫–∞—Ä—Ç–æ–∫ —á–ª–µ–Ω—ñ–≤.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —Ä—ñ–≤–µ–Ω—å —Ü—ñ–Ω –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ —É —Ä–æ–∑—Ä—ñ–∑—ñ –º—ñ—Å—Ç (—á–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Ü—ñ–Ω–æ–≤–∞ –ø–æ–ª—ñ—Ç–∏–∫–∞ –º—ñ—Å—Ç)

In [9]:
pd.pivot_table(df, index='Product line', columns='City', values=['Total','Unit price'], aggfunc={
    'Total': 'sum',
    'Unit price': 'mean'})

                             Total                         Unit price  \
City                      Mandalay   Naypyitaw      Yangon   Mandalay
Product line
Electronic accessories  17051.4435  18968.9745  18317.1135  49.854182
Fashion accessories     16413.3165  21560.0700  16332.5085  54.843871
Food and beverages      15214.8885  23766.8550  17163.1005  55.540000
Health and beauty       19980.6600  16615.3260  12597.7530  58.185660
Home and lifestyle      17549.1645  13895.5530  22417.1955  55.514000
Sports and travel       19988.1990  15761.9280  19372.6995  59.678065


City                    Naypyitaw     Yangon
Product line
Electronic accessories  55.809455  54.871167
Fashion accessories     59.736000  56.670392
Food and beverages      57.273030  54.974483
Health and beauty       55.971346  49.862340
Home and lifestyle      54.334222  55.845692
Sports and travel       55.107333  55.610339

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –∑ –¥–∞–Ω–æ—ó —Ç–∞–±–ª–∏—Ü—ñ –º–∏ –±–∞—á–∏–º–æ, —â–æ –Ω–∞–π–±—ñ–ª—å—à–∏–π –¥–æ—Ö—ñ–¥ –º—ñ—Å—Ç—É Naypyitaw –ø—Ä–∏–Ω–æ—Å—è—Ç—å —Ç–∞–∫—ñ –¢–û–ü-3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤: Food and beverages, Fashion accessories, Electronic accessories. –ü—Ä–∏ —Ü—å–æ–º—É —Å–∞–º–µ —Ü—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –º–∞—é—Ç—å –Ω–∞–π–≤–∏—â—É —Ü—ñ–Ω—É Unit price —É –º—ñ—Å—Ç—ñ Naypyitaw, –ø–æ—Ä—ñ–≤–Ω—è–Ω–æ –∑ —ñ–Ω—à–∏–º–∏ –º—ñ—Å—Ç–∞–º–∏ Mandalay —Ç–∞ Yangon. 

–û—Ç–∂–µ, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è –¥–ª—è –º—ñ—Å—Ç Mandalay —Ç–∞ Yangon - –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Ü—ñ–Ω–æ–≤—É –ø–æ–ª—ñ—Ç–∏–∫—É —É —Å–≤–æ—ó—Ö –º—ñ—Å—Ç–∞—Ö –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π Food and beverages, Fashion accessories, Electronic accessories. –ú–æ–∂–ª–∏–≤–æ –≤–æ–Ω–∏ –ø–æ—Ç—Ä–µ–±—É—é—Ç—å –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Ü—ñ–Ω —á–∏ –≤–≤–µ–¥–µ–Ω–Ω—è –∞–∫—Ü—ñ–π–Ω–∏—Ö —Ü—ñ–Ω –ª–∏—à–µ –Ω–∞ –æ–ø—Ç–æ–≤—ñ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —Ç–∞ –≤—ñ–¥–º—ñ–Ω—É –∞–∫—Ü—ñ–π–Ω–∏—Ö –∑–Ω–∏–∂–æ–∫ –Ω–∞ —Ä–æ–∑–¥—Ä—ñ–±–Ω—ñ –ø–æ–∫—É–ø–∫–∏ (—è–∫—â–æ —î —Ç–∞–∫–∞ –ø—Ä–∞–∫—Ç–∏–∫–∞).

–ì—ñ–ø–æ—Ç–µ–∑–∞ 3. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —Ç–∏–ø —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫—ñ–≤ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ —É —Ä–æ–∑—Ä—ñ–∑—ñ –º—ñ—Å—Ç –ø–æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞–º:
- –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤
- —ó—Ö —Å–µ—Ä–µ–¥–Ω—è –¥–æ—Ö—ñ–¥–Ω—ñ—Å—Ç—å

In [10]:
pd.pivot_table(df, index='Payment', columns='City', values=['Invoice ID','Total'], aggfunc={
    'Invoice ID': 'count',
    'Total': 'mean'})

            Invoice ID                        Total
City          Mandalay Naypyitaw Yangon    Mandalay   Naypyitaw      Yangon
Payment
Cash               110       124    110  321.267832  347.466593  307.102282
Credit card        109        98    104  342.613362  309.463929  318.218755
Ewallet            113       106    126  296.578354  350.522491  312.098167

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –∞–Ω–∞–ª—ñ–∑ –ø–æ–∫–∞–∑—É—î, —â–æ –º—ñ—Å—Ç–æ Naypyitaw –º–∞—î –Ω–∞–π–±—ñ–ª—å—à—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤, —â–æ —Ä–æ–∑—Ä–∞—Ö–æ–≤—É—é—Ç—å—Å—è –≥–æ—Ç—ñ–≤–∫–æ—é (Cash), –ø—Ä–∏ —Ü—å–æ–º—É —Å–µ—Ä–µ–¥–Ω—è –¥–æ—Ö—ñ–¥–Ω—ñ—Å—Ç—å —ó—Ö –¥–æ—Å–∏—Ç—å –≤–∏—Å–æ–∫–∞ 347,5 –≥—Ä–æ—à–æ–≤–∏—Ö –æ–¥–∏–Ω–∏—Ü—å —ñ –Ω–∞ —Ä—ñ–≤–Ω—ñ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤, —â–æ —Ä–æ–∑—Ä–∞—Ö–æ–≤—É—é—Ç—å—Å—è –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é Ewallet. –ü—Ä–∏ —Ü—å–æ–º—É —ñ–Ω—à—ñ –º—ñ—Å—Ç–∞ –º–∞—é—Ç—å –∑–Ω–∞—á–Ω–æ –Ω–∏–∂—á—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–∞–∫–∏—Ö —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ - –º—ñ—Å—Ç–æ Mandalay –º–∞—î –º–∞–π–∂–µ —Ä—ñ–≤–Ω–æ–º—ñ—Ä–Ω–∏–π —Å–ø–ª—ñ—Ç –≤—Å—ñ—Ö 3-—Ö —Ç–∏–ø—ñ–≤ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤, –∞ –º—ñ—Å—Ç–æ Yangon –º–∞—î –±—ñ–ª—å—à—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ –∑ —Ä–æ–∑—Ä–∞—Ö—É–Ω–∫–æ–º Ewallet.

–û—Ç–∂–µ, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è –¥–ª—è –º—ñ—Å—Ç Mandalay —Ç–∞ Yangon - —Ü–µ —Ñ–æ–∫—É—Å –Ω–∞ –∑–∞–ª—É—á–µ–Ω–Ω—è —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤, —â–æ —Ä–æ–∑—Ä–∞—Ö–æ–≤—É—é—Ç—å—Å—è –≥–æ—Ç—ñ–≤–∫–æ—é, —â–æ –º–æ–∂–ª–∏–≤–æ –¥–æ–ø–æ–º–æ–∂–µ —É –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—ñ –æ–±'—î–º—ñ–≤ –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–∞ –¥–æ—Ö–æ–¥—ñ–≤ –º–∞–≥–∞–∑–∏–Ω—ñ–≤.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 4. –ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ —É —Ä–æ–∑—Ä—ñ–∑—ñ –º—ñ—Å—Ç

In [11]:
def rating_mapping(val):
    if val>=8:
        return 'Big'
    elif 6<=val<8:
        return 'Medium'
    else:
        return 'Small'

In [12]:
df['Rating Category'] = df.Rating.apply(rating_mapping)
df.groupby('City')['Rating Category'].value_counts(normalize=True)

City       Rating Category
Mandalay   Medium             0.367470
           Small              0.337349
           Big                0.295181
Naypyitaw  Big                0.362805
           Medium             0.341463
           Small              0.295732
Yangon     Medium             0.358824
           Big                0.329412
           Small              0.311765
Name: Rating Category, dtype: float64

–í—ñ–¥–ø–æ–≤—ñ–¥—å: –≤ –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ 3.3 –º–∏ –≤–∏–∑–Ω–∞—á–∏–ª–∏ —à–∫–∞–ª—É –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤. –ó–∞—Ä–∞–∑ –º–∏ —Ä–æ–∑–≥–ª—è–Ω—É–ª–∏ —Ä–æ–∑–ø–æ–¥—ñ–ª —Ü–∏—Ö —Å–µ–≥–º–µ–Ω—Ç—ñ–≤ (Rating Category) —É —Ä–æ–∑—Ä—ñ–∑—ñ –º—ñ—Å—Ç. –ê–Ω–∞–ª—ñ–∑ –ø–æ–∫–∞–∑–∞–≤, —â–æ –ª–∏—à–µ —É –º—ñ—Å—Ç—ñ Naypyitaw –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ –∑ –í–∏—Å–æ–∫–∏–º —Ä—ñ–≤–Ω–µ–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è —ñ —Å—Ç–∞–Ω–æ–≤–ª—è—Ç—å ~36,3%. –ù–∞—Ç–æ–º—ñ—Å—Ç—å —É –º—ñ—Å—Ç Mandalay —Ç–∞ Yangon –ø–µ—Ä–µ–≤–∞–∂–∞—é—Ç—å —Å–ø–æ–∂–∏–≤–∞—á—ñ –∑ –°–µ—Ä–µ–¥–Ω—ñ–º —Ä—ñ–≤–Ω–µ–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è - 36,7% —Ç–∞ 35,9% –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ. –ü—Ä–∏ —á–æ–º—É —É –º—ñ—Å—Ç—ñ Mandalay –Ω–∞–π–≥—ñ—Ä—à—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ - –¥–æ–ª—è —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ –∑ –í–∏—Å–æ–∫–∏–º —Ä—ñ–≤–Ω–µ–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è —Ç—É—Ç —Å–∫–ª–∞–¥–∞—î –Ω–∞–π–º–µ–Ω—à–µ 29,5%.

–û—Ç–∂–µ, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è –¥–ª—è –º—ñ—Å—Ç Mandalay —Ç–∞ Yangon - –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Ä—ñ–≤–µ–Ω—å —Å–µ—Ä–≤—ñ—Å—É —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤ –∑ –º–µ—Ç–æ—é –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è —Ä—ñ–≤–Ω—è –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ —Å–ø–æ–∂–∏–≤–∞—á—ñ–≤. –ú–æ–∂–ª–∏–≤–æ –ø–æ—Ç—Ä—ñ–±–Ω–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –æ–ø–∏—Ç—É–≤–∞–Ω–Ω—è, –∞–Ω–∫–µ—Ç—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑ –º–µ—Ç–æ—é –≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è —Å–ª–∞–±–∫–∏—Ö –∑–æ–Ω –º–∞–≥–∞–∑–∏–Ω—É —ñ —ó—Ö –≤–∏–ø—Ä–∞–≤–ª–µ–Ω–Ω—è.