#Домашнє завдання до теми "Словники, набори, кортежі"

1. Заданий список `new_list`. Перетворіть його на набір (set). Які зміни у наборі елементів Ви помітили? Відповідь напишіть у коментарі до коду (саме в клітинці з кодом).

In [1]:
new_list = [22, 11, 67, 11, 88, 3213, 12, 78, 67, 11, 16, 15, 88]

In [2]:
new_list

[22, 11, 67, 11, 88, 3213, 12, 78, 67, 11, 16, 15, 88]

In [10]:
new_list_2 = set(new_list)
new_list_2
# Зміни:
# 1) змінився формат зі списку на набір
# 2) утворений набір містить лише унікальні елементи списку
# 3) всі елементи набору впорядковані за зростанням

{11, 12, 15, 16, 22, 67, 78, 88, 3213}

2. Задано набір елементів `set_a` і значення `new_value`. Додайте значення  `new_value` до набору `set_a`. Виведіть оновлений `set_a` на екран.

In [12]:
set_a = {121, 144, 177, 199}
new_value = 88

In [13]:
set_a.add(new_value)
set_a

{88, 121, 144, 177, 199}

3. У наборів є операції обʼєднання, перетину та різниці. Обʼєднання - це коли ми хочемо обʼєднати всі елементи, які є в двох наборах. Виконати обʼєднання можна опреацією `union`, наприклад, аби виконати те, що зображено нижче, ми використаємо код

```
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}

print("A U B:", A.union(B))

```

Нижче наведено 3 набори. Створіть новий набір `result_set`, який є обʼєднанням трьох наведених наборів і виведіть результат на екран.

In [14]:
set1 = {1, 2, 3, 4, 5, 10, 15, 20}
set2 = {4, 5, 6, 7, 8, 15, 20, 25}
set3 = {7, 8, 9, 10, 11, 20, 25, 30}

In [15]:
result_set = set1.union(set2,set3)
print('set1 U set2 U set3:', result_set)

set1 U set2 U set3: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 20, 25, 30}

4. Практика на роботу зі словниками. Це завдання включає 4 невеличких пункти:

  1) Створіть словник, що містить 5 пар ключ-значення, де ключі - це імена студентів (тип рядок), а значення - їхні оцінки з програмування від 1 до 12. Запишіть словник у змінну. Значення - довільні.

  2) Виведіть весь словник на екран. Важливо, аби словник вивівся на екран в jupyter notebook, будь-який спосіб, який це робить, нам підходить.

  3) Додайте до словника нового студента та його оцінку.

  4) Виведіть оцінку одного конкретного студента, звертаючись до неї за його ім'ям.

In [16]:
# п.1-2
my_dict = {'Olha': 12, 'Anna': 10, 'Max': 9, 'Kate': 11, 'Alex': 2}
my_dict # Перший варіант виведення словника до п.2

{'Olha': 12, 'Anna': 10, 'Max': 9, 'Kate': 11, 'Alex': 2}

In [18]:
# п.2
my_dict.items() # Альтернативний варіант виведення словника до п.2

dict_items([('Olha', 12), ('Anna', 10), ('Max', 9), ('Kate', 11), ('Alex', 2)])

In [20]:
# п.3
my_dict['Bob'] = 7
my_dict

{'Olha': 12, 'Anna': 10, 'Max': 9, 'Kate': 11, 'Alex': 2, 'Bob': 7}

In [21]:
# п.4
my_dict['Max']

9

5. На лекції ми обговорили різницю між колекціями `tuple` і `list`. Основна з них - те, що `tuple` - це незмінна структура. Але ж що робити, якщо нам все ж треба змінити значення в tuple? Наступний набір завдань - аби попрацювати над цим.

  Заданий кортеж `my_tuple`. Спробуйте призначити елементу з індексом 3 значення 22.

In [22]:
my_tuple = (11, 12, 13, 14, 15)

In [30]:
my_list = list(my_tuple)
my_list[3] = 22
modified_tuple = tuple(my_list)
modified_tuple

(11, 12, 13, 22, 15)

Перетворіть кортеж `my_tuple` на список `my_list`. Для перетворення скористайтесь викликом функції. Нам треба отримати `my_list` саме перетворенням `my_tuple` на нього, а не визначаючи вручну (таке виконання буде зараховане як помилка).

In [26]:
my_list = list(my_tuple)
my_list

[11, 12, 13, 14, 15]

Тепер змініть значення елемента з індексом 3 списку `my_list` на 22.

In [27]:
my_list[3] = 22

Оновлений список `my_list` перетворіть на новий кортеж `modified_tuple` і виведіть `modified_tuple` на екран.

In [29]:
modified_tuple = tuple(my_list)
modified_tuple

(11, 12, 13, 22, 15)